{% extends "main.html" %}
{% block content %}

<div class="container">
  <h1 class="page-header">OCI Migration App</h1>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">OCI User ID</label>
      <input type="email" class="form-control" id="inputuser" placeholder="OCI User ID">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Tenancy ID</label>
      <input type="password" class="form-control" id="inputtenancy" placeholder="Tenancy">
    </div>
  </div>

  <div class="form-group col-md-6">
    <label for="inputAddress">FINGERPRINT</label>
    <input type="text" class="form-control" id="inputfingerprint" placeholder="FINGERPRINT">
  </div>

  <div class="form-group col-md-6">
    <h4>API KEY </h4>
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
</div>
<div class="form-group">
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputState">Region</label>
      <select id="inputRegion" class="form-control">
        <option selected>Choose...</option>
        <option>Ashburn</option>
        <option>Phoenix</option>
        <option>Frankfurt</option>
        <option>London</option>
      </select>

  </div>
  </div>
</div>
<br><br>
  <div class="form-group col-md-6">
   <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
  </div>


</form>
{% endblock %}
