{% extends "main.html" %}
{% block content %}
<!-- Page Title -->
<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">
      <h1 class="page-header">Oracle Cloud Infrastructure Account</h1>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container content-container">
  <div class="row">
    <div class="col-md-12">
      <!-- OCI Account Form -->
      <form>
        <!-- Job Name Input -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="job_name">Job Name</label>
            <input type="text" class="form-control" id="job_name" placeholder="Job Name">
          </div>
        </div>
        <!-- OCI User OCID Input -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="user_ocid">User OCID</label>
            <input type="text" class="form-control" id="user_ocid" placeholder="User OCID">
          </div>
        </div>
        <!-- OCI Tenancy OCID Input -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="tenancy_ocid">Tenancy OCID</label>
            <input type="text" class="form-control" id="tenancy_ocid" placeholder="Tenancy OCID">
          </div>
        </div>
        <!-- Fingerprint Input -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="fingerprint">Fingerprint</label>
            <input type="text" class="form-control" id="fingerprint" placeholder="Fingerprint">
          </div>
        </div>
        <!-- API Key Selection -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="api_key">API Key</label>
            <div class="input-group">
              <label class="input-group-btn">
                <span class="btn btn-primary">
                  Browse <input type="file" style="display: none;" multiple>
                </span>
              </label>
              <input type="text" class="form-control" readonly>
            </div>
          </div>
        </div>
        <!-- OCI Region Selection -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="region">Region</label>
            <select id="region" class="form-control">
              <option selected>Select Region</option>
              <option>Ashburn</option>
              <option>Phoenix</option>
              <option>Frankfurt</option>
              <option>London</option>
            </select>
          </div>
        </div>
        <!-- Submit Button -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary submit-btn">Next</button>
          </div>
        </div>

      </form>
      <!-- End of Form -->
    </div>
  </div>
</div>

{% endblock %}
