<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dragonfly</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Need to include frameworks locally in case of no internet access -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <div class="container">
    <!-- Main Header -->
    <header>
      <div class="row">
        <!-- Header Logo -->
        <div class="col-md-6">
          <img class="header-logo" src="/static/img/logo/logo.png" alt="Oracle Cloud Infrastructure Migration Tool Logo">
        </div>
        <!-- Header Buttons -->
        <div class="col-md-6 header-btn-col">
          <a class="btn btn-primary header-btn pull-right" href="">Help</a>
          <a class="btn btn-primary header-btn pull-right" href="">Jobs</a>
          <a class="btn btn-primary header-btn pull-right" href="{{url_for('login')}}">New Job</a>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    {% block content %}
    {% endblock %}

  </div>

</body>
</html>
